<!DOCTYPE>
<html ng-app="MagicCards">

<head>
    <title> Zee Store of Magic</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="groupcards.js"></script>
    <link href="groupcards.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Graduate|Knewave|Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky|Graduate|Knewave" rel="stylesheet">


</head>

<body ng-controller="GatherCards as Gcards">
            <h2>Welcome to the Magic Party!</h2>

    <section>
        <div class=" body" ng-repeat="card in Gcards.cards">
            <h4> {{card.name}} </h4>
            <div class="wrapper"><img class="image" ng-src="{{card.art}}"> </div>
            <ul>
                <li> Mana Color: {{card.manaColor}}</li>
                <li>Power: {{card.power}}</li>
                <li>Toughness: {{card.toughness}}</li>
            </ul>
        </div>
        <form ng-submit="Gcards.AddCard()">
            <h1>Create a magic card!</h1>
            <hr>
            <input type="text" placeholder="Name" ng-model="Gcards.newCard.name" />
            <input type="text" placeholder="Mana Color" ng-model="Gcards.newCard.manaColor" />
            <input type="number" placeholder="Powerr" ng-model="Gcards.newCard.power" />
            <input type="number" placeholder="Toughness" ng-model="Gcards.newCard.toughness" />
            <input type="text" placeholder="art" ng-model="Gcards.newCard.art" />
            <button class="button"type="submit">Shazaam!!!</button>
        </form>
    </section>
    <hr>



    <section ng-controller="GatherCards2 as Gcards2">
        <ul>
            <li ng-repeat="card in Gcards2.cards"> </li>
            <h4>  </h4>

        </ul>

    </section>


</body>

</html>